name: Build Windows exe (Win7 compatible)

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-2019

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Python 3.7
      uses: actions/setup-python@v5
      with:
        python-version: '3.7'

    - name: Install PyInstaller
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller

    - name: Build exe
      run: |
        pyinstaller --onefile run_gui.py

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: build_spy_exe
        path: dist/*.exe